@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Orbitron:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
	--color-brand: #2563EB; /* Blue for brand accent */
	--color-brand-darkest: #1E40AF; /* Darker Blue for brand accent */
	--color-background: #f3f3f3; /* Light background color */
	--color-surface: #f9fafb; /* Light surface color */
	--color-text: #111827; /* Dark text color */
	--color-text-secondary: #6b7280; /* Medium gray for secondary text */
	--color-border: #e5e7eb; /* Light border color */
	--color-succes: #22C55e; /* Green for success messages */
	--color-warning: #fbbf24; /* Yellow for warnings */
	--color-error: #ef4444; /* Red for error messages */

	--font-orbitron: 'Orbitron', sans-serif; /* Futuristic font for headings */
	--font-urbanist: 'Urbanist', sans-serif; /* Clean sans-serif font for body text */
	--font-kode-mono: 'Kode Mono', monospace; /* Monospace font for code snippets */
}
